{% extends '../base.html' %}

{% block content %}
<div class="right_col" role="main">

    <h1>Actualizar Usuarios</h1>
    <form action="actualizar" method="POST">
        {% csrf_token %}

          <div class="form-group row">
              <label for="id_rut" class="col-4 col-form-label">Rut</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-id-badge"></i>
                    </div>
                  </div> 
                  
                  <select name="id_rut" id="id_rut">
                    {% for u in usuarios %}
                    <option value="{{u.id_rut}}">{{ u.id_rut }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="digito_verificador" class="col-4 col-form-label">Digito verificador</label> 
              <div class="col-8">
                <input id="digito_verificador" name="digito_verificador" type="text" class="form-control" required="required">
              </div>
            </div>
          <div class="form-group row">
            <label for="nombre" class="col-4 col-form-label">Nombre Primer</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card"></i>
                  </div>
                </div> 
                <input id="nombre" name="nombre" type="text" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="seg_nombre" class="col-4 col-form-label">Segundo Nombre</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card"></i>
                  </div>
                </div> 
                <input id="seg_nombre" name="seg_nombre" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="apellido_p" class="col-4 col-form-label">Apellido Paterno</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div> 
                <input id="apellido_p" name="apellido_p" type="text" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="apellido_m" class="col-4 col-form-label">Apellido Materno</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div> 
                <input id="apellido_m" name="apellido_m" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="correo" class="col-4 col-form-label">Correo</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-inbox"></i>
                  </div>
                </div> 
                <input id="correo" name="correo" type="email" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="rol" class="col-4 col-form-label">Rol</label> 
            <div class="col-8">
              <select id="rol" name="rol" required="required" class="custom-select">
                <option value="admin">Admin</option>
                <option value="funcionario">Funcionario</option>
              </select>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-warning"><i class="fa fa-refresh"></i>  Editar Usuario</button>
            </div>
          </div>
        </form>
</div>


{% endblock %}