{% extends '../base.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1>Elimiar usuarios</h1>
    <form action="eliminar" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="id_rut" class="col-4 col-form-label">Rut</label> 
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-id-badge"></i>
                        </div>
                    </div> 
                    
                    <select name="id_rut" id="id_rut">
                        {% for u in usuarios %}
                        <option value="{{u.id_rut}}">{{ u.id_rut }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>  Eliminar Usuario</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}