{# templates/vista_admin.html #}
{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
  <h1>admin</h1>

  <div class="shortcut-cards">
    <a href="{% url 'listar_usuarios' %}" class="shortcut-card">
      <div class="icon"><i class="fa fa-users"></i></div>
      <div class="label">Usuarios</div>
    </a>
    <a href="{% url 'listar_videos' %}" class="shortcut-card">
      <div class="icon"><i class="fa fa-film"></i></div>
      <div class="label">Videos LSCH</div>
    </a>
  </div>
{% endblock %}
