{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'css/lista_video.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="right_col" role="main">
  <div class="container">
    <h1>Editar Video</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">
        <i class="fa fa-save"></i> Guardar cambios
      </button>
      <a href="{% url 'listar_videos' %}" class="btn btn-secondary">
        <i class="fa fa-times"></i> Cancelar
      </a>
    </form>
  </div>
</div>
{% endblock %}
