{% extends '../base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'css/lista.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

 <!-- Botón hamburguesa -->
  <div class="sidebar-toggle" onclick="toggleSidebar()">
    &#9776;
  </div>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="{% url 'vista_admin' %}">Menu Principal</a>
    <a href="{% url 'listar_usuarios' %}">Administrar usuarios</a>
    <a href="{% url 'listar_videos' %}">Videos LSCH</a>
    <a href="{% url 'ver_informes' %}">Generar reporte</a>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
  </div>


  <div class="right_col" role="main">
    <h1>Lista de usuarios</h1>
    
    <!-- Botón para agregar nuevo usuario -->
    <a href="{% url 'agregar_usuario' %}" class="btn btn-add mb-3">
      <i class="fa fa-plus"></i> Agregar Usuario
    </a>

    <table class="user-table">
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Fecha registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for u in usuarios %}
        <tr>
          <td>{{ u.id_rut }}</td>
          <td>{{ u.nombre }}</td>
          <td>{{ u.apellido }}</td>
          <td>{{ u.correo }}</td>
          <td>{{ u.rol }}</td>
          <td>{{ u.f_registro }}</td>
         <td>
          <!-- abrimos /actualizar/?rut=<valor> -->
          <a
            href="{% url 'actualizar_usuario' %}?rut={{ u.id_rut }}"
            class="btn btn-edit btn-sm"
          >
            <i class="fa fa-edit"></i>
          </a>
          <!-- abrimos /eliminar/?rut=<valor> -->
          <a
            href="{% url 'eliminar_usuario' %}?rut={{ u.id_rut }}"
            class="btn btn-delete btn-sm"
          >
            <i class="fa fa-trash"></i>
          </a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extra_js %}
<script>
  function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    sidebar.classList.toggle('open');
  }
</script>
{% endblock %}

