{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'css/lista_video.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
 <!-- Botón hamburguesa -->
  <div class="sidebar-toggle" onclick="toggleSidebar()">
    &#9776;
  </div>

 <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="{% url 'vista_admin' %}">Menu Principal</a>
    <a href="{% url 'listar_usuarios' %}">Administrar usuarios</a>
    <a href="{% url 'listar_videos' %}">Videos LSCH</a>
    <a href="{% url 'informes' %}">Generar informe</a>
    <a href="{% url 'notificaciones' %}">
      <i class="fa fa-exclamation-triangle"></i> Reportes
      {% if missing_video_reports_count %}
        <span class="badge bg-danger">{{ missing_video_reports_count }}</span>
      {% endif %}
    </a>
  </div>

  
<div class="right_col" role="main">
  <div class="container">
    <h1 class="mb-4">Lista de Videos</h1>

    <a href="{% url 'agregar_video' %}" class="btn btn-add mb-3">
      <i class="fa fa-plus"></i> Agregar Video
    </a>

    <table class="user-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tema</th>
          <th>URL Código</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for video in videos %}
        <tr>
          <td>{{ video.nombre }}</td>
         <td>
            {% for tema in video.temas.all %}
              {{ tema.nombre }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              Sin temas
            {% endfor %}
          </td>
          <td>{{ video.url_codigo }}</td>
          <td>{{ video.fecha_creacion|date:"d-m-Y H:i" }}</td>
          <td>
            <a
              href="{% url 'editar_video' video.id %}"
              class="btn btn-edit btn-sm"
            >
              <i class="fa fa-edit"></i> Editar
            </a>
            <a
              href="{% url 'eliminar_video' video.id %}"
              class="btn btn-delete btn-sm"
              onclick="return confirm('¿Seguro que quieres eliminar este video?');"
            >
              <i class="fa fa-trash"></i> Eliminar
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center">
            No hay videos disponibles.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
  function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    sidebar.classList.toggle('open');
  }
</script>
{% endblock %}

